nav{
    background: transparent;
    padding: 10px 5px;
    transform: scaleY(1.05);
    transition: background 1s, transform 600ms;
    transform-origin: top;
}
nav.scrolling{
    background: white;
    transform: scaleY(0.95);
}